<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SERVER" value="192.168.1.167" />
    <add key="PORT" value="18921" />
    <add key="USER" value="admin" />
    <add key="PASSWORD" value="123456" />
    <add key="NODE1_HOST" value="192.168.1.167" />
    <add key="NODE1_PORT" value="18921" />
    <add key="HASTREAM_GROUP1" value="192.168.1.167:18921" />
    <add key="HASTREAM_GROUP2" value="192.168.1.167:18922" />
    <add key="HASTREAM_GROUP3" value="192.168.1.167:18923" />
    <add key="HASTREAM_GROUPID" value="3" />
    <add key="LOCALHOST" value="192.168.0.52" />
    <add key="LOCALPORT" value="18221" />
    <add key="SUB_FLAG" value="0" />
  </appSettings>
</configuration>