################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/dolphindb_csharpapi/bin/Debug
/dolphindb_csharpapi/obj/Debug
/dolphindb_csharpapi_test/bin/Debug
/dolphindb_csharpapi_test/obj/Debug
/packages
/.vs/api-csharp/v15
/dolphindb_csharpapi_test/obj/Release
*.cache
*.cache
.vs/dolphindb_csharpapi/v15/.suo
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache
*.dll
.vs/dolphindb_csharpapi/v15/.suo

dolphindb_csharpapi_test/SupWin.cs

dolphindb_csharpapi_test/obj/Release/
dolphindb_csharpapi_test/bin/
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache

dolphindb_csharpapi/obj/
*.opendb
*.db
.vs/dolphindb_csharpapi/v15/.suo
.vs/dolphindb_csharpapi/v15/.suo
