
*.cache
.idea
.idea/*
*.pdb

*.dll

*.props

*.targets
packages
obj/
bin/
*.dll
*.pdb
*.sqlite
.vs/dolphindb_csharpapi/v15/.suo
*.pdb
*.dll
.vs/dolphindb_csharpapi/v15/.suo
/WindowsFormsApp1
.vs/dolphindb_csharpapi/v15/Browse.VC.db
.vs/dolphindb_csharpapi/v15/Server/
.vs/dolphindb_csharpapi/v15/ipch/
/.idea
/.vs
/dolphindb_dataAppender
/WindowsFormsApp1
/dolphindb_csharpapi_test/SupWin.cs
/dolphindb_csharpapi/*.user
/dolphindb_csharpapi/*.user
test/SupWin.cs
.vscode/launch.json
examples/HAWritingData.cs
longTimeTask/Properties/AssemblyInfo.cs
longTimeTask/Program.cs
longTimeTask/longTimeTask.csproj
