################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/dolphindb_csharpapi/bin/Debug
/dolphindb_csharpapi/obj/Debug
/dolphindb_csharpapi_test/bin/Debug
/dolphindb_csharpapi_test/obj/Debug
/packages
/.vs/api-csharp/v15
/dolphindb_csharpapi_test/obj/Release
*.cache
*.cache
.vs/dolphindb_csharpapi/v15/.suo
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache
*.dll
.vs/dolphindb_csharpapi/v15/.suo

dolphindb_csharpapi_test/SupWin.cs

dolphindb_csharpapi_test/obj/Release/
dolphindb_csharpapi_test/bin/
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache

dolphindb_csharpapi/obj/
*.opendb
*.db
.vs/dolphindb_csharpapi/v15/.suo
.vs/dolphindb_csharpapi/v15/.suo
.vs/dolphindb_csharpapi/v15/.suo
*.cache
.vs/dolphindb_csharpapi/v15/.suo
*.cache
*.cache
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache
dolphindb_csharpapi/bin/Release/dolphindb_csharpapi.instr.pdb
dolphindb_csharpapi/bin/Release/dolphindb_csharpapi.pdb
dolphindb_csharpapi/dolphindb_csharpapi.csproj.user
dolphindb_csharpapi/dolphindb_csharpapi.csproj.user
*.user
.vs/dolphindb_csharpapi/v15/.suo
dolphindb_csharpapi/nuget.exe
dolphindb_csharpapi/dolphindb_csharpapi.nuspec
dolphindb_csharpapi/dolphindb_csharpapi.1.0.0.nupkg
dolphindb_csharpapi/release.bat
dolphindb_csharpapi_test/obj/Release/CoreCompileInputs.cache
dolphindb_csharpapi/obj/Release/CoreCompileInputs.cache
.vs/dolphindb_csharpapi/v15/.suo
